{% extends "base.html" %} {% block title %}Inventory{% endblock %} {% block
content %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Inventory</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          Equ. ID<input
            type="text"
            id="filterOrderID"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>
        <th scope="col">
          Name<input
            type="text"
            id="filterUserID"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>

        <th scope="col">
          Category<select
            id="filterStatus"
            class="form-control form-control-sm"
          >
            <option value="">All</option>
            <option value="roller">Roller</option>
            <option value="sprayer">Sprayer</option>
            <option value="balewrapper">Bale Wrapper</option>
            <option value="spreader">Spreader</option>
            <option value="tracked-excav">Tracked-Excav</option>
            <option value="tractor">Tractor</option>
            <option value="seeddrills">Seed Drills</option>
            <option value="telescopichandler">Telescopic Handler</option>
            <option value="roundbaler">Round Baler</option>
            <option value="horticultureharvester">
              Horticulture Harvester
            </option>
            <option value="discseeder">Disc Seeder</option>
            <option value="powerharrows">Power Harrows</option>
            <option value="tedder">Tedder</option>
            <option value="feedout">Feedout</option>
          </select>
        </th>
        <th scope="col">
          Serial No.<input
            type="text"
            id="filterFinalPrice"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>
        <th scope="col">
          Cost<input
            type="text"
            id="filterDiscount"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>
        <th scope="col">
          Purchase Date<input
            type="date"
            id="filterTax"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>

        <th scope="col">
          Status<select id="filterStatus" class="form-control form-control-sm">
            <option value="">All</option>
            <option value="completed">Available</option>
            <option value="pending">Rented</option>
            <option value="cancelled">Under Repair</option>
            <option value="retired">Retired</option>
          </select>
        </th>

        <th scope="col">
          Store ID<input
            type="text"
            id="filterCreationDate"
            class="form-control form-control-sm"
          />
        </th>
        <th scope="col">
          Max. Date<input
            type="text"
            id="filterCreationDate"
            class="form-control form-control-sm"
          />
        </th>
        <th scope="col">
          Min. Date<input
            type="text"
            id="filterCreationDate"
            class="form-control form-control-sm"
          />
        </th>
      </tr>
    </thead>
    <tbody></tbody>
    <tbody id="ordersTableBody">
      {% for equipment_item in equipment %}
      <tr>
        <td>{{ equipment_item.equipment_id }}</td>
        <td>{{ equipment_item.name }}</td>
        <td>{{ equipment_item.category }}</td>
        <td>{{ equipment_item.serial_number }}</td>
        <td>{{ equipment_item.cost }}</td>
        <td>{{ equipment_item.purchase_date }}</td>
        <td>{{ equipment_item.status }}</td>
        <td>{{ equipment_item.store_id }}</td>
        <td>{{ equipment_item.maximum_date }}</td>
        <td>{{ equipment_item.minimum_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const filterInputs = document.querySelectorAll("thead input, thead select");
    const tableBody = document.getElementById("ordersTableBody");
    const rows = tableBody.getElementsByTagName("tr");

    filterInputs.forEach((input) => {
      input.addEventListener("input", filterTable);
      input.addEventListener("change", filterTable);
    });

    function filterTable() {
      for (let row of rows) {
        let showRow = true;
        filterInputs.forEach((input) => {
          const column = input.parentElement.cellIndex;
          const filter = input.value.toLowerCase();
          const cell = row.getElementsByTagName("td")[column];
          const text = cell.textContent.toLowerCase();

          if (filter && text.indexOf(filter) === -1) {
            showRow = false;
          }
        });
        row.style.display = showRow ? "" : "none";
      }
    }
  });
</script>

{% endblock %}
