{% extends "base.html" %} {% block title %}Order List{% endblock %} {% block
content %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Order List - {{ store_name }} Store</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped" id="orderTable">
    <thead>
        <th onclick="sortTable(0)" scope="col">
          Order ID &#x25B2;&#x25BC;<input
            type="text"
            id="filterOrderID"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>
        <th onclick="sortTable(1)" scope="col">
          Customer Name &#x25B2;&#x25BC;<input
            type="text"
            id="filterUserID"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>
        <th onclick="sortTable(2)" scope="col">
          Total Cost &#x25B2;&#x25BC;<input
            type="text"
            id="filterTotalCost"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>
        <th onclick="sortTable(3)" scope="col">
          Discount % &#x25B2;&#x25BC;<input
            type="text"
            id="filterDiscount"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>
        <th scope="col">
          Final Price (incl. GST) &#x25B2;&#x25BC;<input
            type="text"
            id="filterFinalPrice"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>
        <th scope="col">
          Status<select id="filterStatus" class="form-control form-control-sm">
            <option value="">All</option>
            <option value="completed">Completed</option>
            <option value="pending">Pending</option>
            <option value="cancelled">Cancelled</option>
          </select>
        </th>
        <th onclick="sortTable(3)">
          Order Date &#x25B2;&#x25BC;<input
            type="date"
            id="filterCreationDate"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>
      </tr>
    </thead>
    <tbody></tbody>
    <tbody id="ordersTableBody">
      {% for order in orders %}
      <tr>
        <td>{{ order.order_id }}</td>
        <td>{{ order.first_name }} {{ order.family_name }}</td>
        <td>{{ order.total_cost }}</td>
        <td>{{ order.discount }}</td>
        <td>{{ order.final_price }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.creation_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const filterInputs = document.querySelectorAll("thead input, thead select");
    const tableBody = document.getElementById("ordersTableBody");
    const rows = tableBody.getElementsByTagName("tr");

    filterInputs.forEach((input) => {
      input.addEventListener("input", filterTable);
      input.addEventListener("change", filterTable);
    });

    function filterTable() {
      for (let row of rows) {
        let showRow = true;
        filterInputs.forEach((input) => {
          const column = input.parentElement.cellIndex;
          const filter = input.value.toLowerCase();
          const cell = row.getElementsByTagName("td")[column];
          const text = cell.textContent.toLowerCase();

          if (filter && text.indexOf(filter) === -1) {
            showRow = false;
          }
        });
        row.style.display = showRow ? "" : "none";
      }
    }
  });

  function sortTable(column) {
    var table,
      rows,
      switching,
      i,
      x,
      y,
      shouldSwitch,
      dir,
      switchcount = 0;
    table = document.getElementById("orderTable");
    switching = true;
    dir = "asc"; // Initial direction is ascending
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < rows.length - 1; i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("TD")[column];
        y = rows[i + 1].getElementsByTagName("TD")[column];
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount++;
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>

{% endblock %}
