{% extends "sidebar_layout.html" %} {% block title %}Promotion_News List{% endblock %}
{% block main_content %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Promotions</h1>
</div>

<section class="py-3 py-md-4 py-xl-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 fs-7">
            <li class="breadcrumb-item">
              <a
                class="link-primary text-decoration-none"
                href="{{ url_for('staff.dashboard') }}"
                >Dashboard</a
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">Promotions</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>News ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Publish Date</th>
        <th>Creator ID</th>
        <th>Store ID</th>
      </tr>
    </thead>
    <tbody>
      {% for promotion in promotions %}
      <tr>
        <td>{{ promotion.news_id }}</td>
        <td>{{ promotion.title }}</td>
        <td>{{ promotion.content }}</td>
        <td>{{ promotion.publish_date }}</td>
        <td>{{ promotion.creator_id }}</td>
        <td>{{ promotion.store_id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
