{% extends "base.html" %} {% block title %}Staff Dashboard{% endblock %} {%
block content %} {% if session.get('loggedin') %}
<div class="custom-welcome">Welcome back, {{ session.get('first_name') }}!</div>
{% endif %}
<h3 style="text-align: center">Staff Dashboard - {{ store_name }}</h3>

<h4><i class="fa fa-calendar-check"></i> Daily Checkouts</h4>
<a href="{{ url_for('staff.daily_checklist') }}" class="btn btn-success"
  >View More</a
>

<table class="table">
  <thead>
    <tr>
      <th>Rental ID</th>
      <th>User Name</th>
      <th>Equipment Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>ID Verified</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in top_bookings %}
    <tr>
      <td>{{ booking.rental_id }}</td>
      <td>{{ booking.username }}</td>
      <td>{{ booking.equipment_name }}</td>
      <td>{{ booking.start_date }}</td>
      <td>{{ booking.end_date }}</td>
      <td>{{ 'Yes' if booking.id_verified else 'No' }}</td>
      <td>{{ booking.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Display top 5 returns -->
<h4><i class="fa fa-handshake"></i> Returns</h4>
<a href="{{ url_for('staff.daily_returns') }}" class="btn btn-success"
  >View More</a
>

<table class="table">
  <thead>
    <tr>
      <th>Rental ID</th>
      <th>Customer Name</th>
      <th>Equipment Name</th>
      <th>End Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for return in top_returns %}
    <tr>
      <td>{{ return.rental_id }}</td>
      <td>{{ return.first_name }} {{ return.family_name }}</td>
      <td>{{ return.equipment_name }}</td>
      <td>{{ return.end_date }}</td>
      <td>{{ return.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

  <!-- Display top 5 rentals -->
  <h4><i class="fa fa-truck"></i> Rentals</h4>
  <a href="{{ url_for('staff.view_rentals') }}" class="btn btn-success"
    >View More</a
  >

  <table class="table">
    <thead>
      <tr>
        <th>Rental ID</th>
        <th>User</th>
        <th>Equipment</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for rental in top_rentals %}
      <tr>
        <td>{{ rental.rental_id }}</td>
        <td>{{ rental.username }}</td>
        <td>{{ rental.equipment_name }}</td>
        <td>{{ rental.start_date }}</td>
        <td>{{ rental.end_date }}</td>
        <td>{{ rental.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Display top 5 orders -->
  <h4><i class="fa fa-shopping-cart"></i> Orders</h4>
  <a href="{{ url_for('staff.view_orders') }}" class="btn btn-success"
    >View More</a
  >

  <table class="table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>User ID</th>
        <th>Cost</th>
        <th>Discount %</th>
        <th>Final Cost</th>
        <th>Status</th>
        <th>Order Date</th>
      </tr>
    </thead>
    <tbody>
      {% for order in top_orders %}
      <tr>
        <td>{{ order.order_id }}</td>
        <td>{{ order.user_id }}</td>
        <td>{{ order.total_cost }}</td>
        <td>{{ (order.discount / order.total_cost * 100) | int }} %</td>
        <td>{{ order.final_price }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.creation_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Display top 5 payments -->
  <h4><i class="fa fa-dollar-sign"></i> Payments</h4>
  <a href="{{ url_for('staff.view_payments') }}" class="btn btn-success"
    >View More</a
  >
  <table class="table">
    <thead>
      <tr>
        <th>Payment ID</th>
        <th>Order ID</th>
        <th>User ID</th>
        <th>Payment Type</th>
        <th>Payment Status</th>
        <th>Amount</th>
        <th>Payment Date</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in top_payments %}
      <tr>
        <td>{{ payment.payment_id }}</td>
        <td>{{ payment.order_id }}</td>
        <td>{{ payment.user_id }}</td>
        <td>{{ payment.payment_type }}</td>
        <td>{{ payment.payment_status }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.payment_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endblock %}
</table>
