{% extends "base.html" %} {% block title %}Local Manager View Reports{% endblock
%} {% block content %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Reports - {{ store_name }} Store</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          Report ID<input
            type="text"
            id="filterReportID"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>
        <th scope="col">
          Title<input
            type="text"
            id="filterTitle"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>
        <th scope="col">
          Content<input
            type="text"
            id="filterContent"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>
        <th scope="col">
          Creation Date<input
            type="date"
            id="filterCreationDate"
            class="form-control form-control-sm"
            placeholder="Filter"
          />
        </th>
      </tr>
    </thead>
    <tbody></tbody>
    <tbody id="reportsTableBody">
      {% for report in reports %}
      <tr>
        <td>{{ report.report_id }}</td>
        <td>
          <a
            href="{{ url_for('local_manager.view_report', report_id=report.report_id) }}"
            >{{ report.title }}</a
          >
        </td>
        <td>{{ report.content }}</td>
        <td>{{ report.creation_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const filterInputs = document.querySelectorAll("thead input, thead select");
    const tableBody = document.getElementById("reportsTableBody");
    const rows = tableBody.getElementsByTagName("tr");

    filterInputs.forEach((input) => {
      input.addEventListener("input", filterTable);
      input.addEventListener("change", filterTable);
    });

    function filterTable() {
      for (let row of rows) {
        let showRow = true;
        filterInputs.forEach((input) => {
          const column = input.parentElement.cellIndex;
          const filter = input.value.toLowerCase();
          const cell = row.getElementsByTagName("td")[column];
          const text = cell.textContent.toLowerCase();

          if (filter && text.indexOf(filter) === -1) {
            showRow = false;
          }
        });
        row.style.display = showRow ? "" : "none";
      }
    }
  });
</script>

{% endblock %}
