{% extends "base.html" %} {% block title %}Local Manager Dashboard{% endblock %}
{% block content %}
<div class="custom-welcome">Welcome back, {{ session.get('username') }}!</div>
<h2>Store Manager Dashboard - {{ store_name }} Store</h2>

      
      <!-- Reports -->
      <div class="col-md-4">
        <a
          href="{{ url_for('local_manager.view_reports') }}"
          class="text-decoration-none"
        >
          <div class="card widget-card border-light shadow-sm">
            <div
              class="card-header bg-transparent p-4 border-light-subtle text-center"
            >
              <i class="fas fa fa-file fa-2x"></i>
              <h5 class="card-title widget-card-title m-0">REPORTS</h5>
            </div>
          </div>
        </a>
      </div>

      <!-- Staff -->
      <div class="col-md-4">
        <a
          href="{{ url_for('local_manager.view_staff') }}"
          class="text-decoration-none"
        >
          <div class="card widget-card border-light shadow-sm">
            <div
              class="card-header bg-transparent p-4 border-light-subtle text-center"
            >
              <i class="fas fa fa-users fa-2x"></i>
              <h5 class="card-title widget-card-title m-0">STAFF</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
