{% extends "base.html" %} {% block title %}Equipment Rental Record{% endblock %} {%
  block content %}
  <div class="container mt-4">
      <table class="table">
      <thead>
      <tr>
          <th>Rental ID</th>
          <th>Equipment ID</th>
          <th>Store ID</th>
          <th>Status From</th>
          <th>Status To</th>
          <th>Change Date</th>
      </tr>
      </thead>
      <tbody>
      {% for entry in entries %}
      <tr>
          <td>{{ entry.rental_id }}</td>
          <td>{{ entry.equipment_id }}</td>
          <td>{{ entry.store_id }}</td>
          <td>{{ entry.status_from }}</td>
          <td>{{ entry.status_to }}</td>
          <td>{{ entry.change_date }}</td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
  {% endblock %}
  