{% extends "base.html" %} {% block title %}Local Manager Dashboard{% endblock %}
{% block content %}

<h2>Store Manager Dashboard - {{ store_name }} Store</h2>

<section class="py-3 py-md-4 py-xl-5 bg-light">
  <div class="container">
    <div class="row mb-8">
      <!-- Checklists -->
      <div class="col-md-4">
        <a
          href="{{ url_for('staff.daily_checklist') }}"
          class="text-decoration-none"
        >
          <div class="card widget-card border-light shadow-sm">
            <div
              class="card-header bg-transparent p-4 border-light-subtle text-center"
            >
              <i class="fas fa-calendar-check fa-2x"></i>
              <h5 class="card-title widget-card-title m-0">DAILY CHECKLISTS</h5>
            </div>
          </div>
        </a>
      </div>

      <!-- Returns -->
      <div class="col-md-4">
        <a
          href="{{ url_for('staff.daily_returns') }}"
          class="text-decoration-none"
        >
          <div class="card widget-card border-light shadow-sm">
            <div
              class="card-header bg-transparent p-4 border-light-subtle text-center"
            >
              <i class="fas fa-calendar-check fa-2x"></i>
              <h5 class="card-title widget-card-title m-0">DAILY RETURNS</h5>
            </div>
          </div>
        </a>
      </div>

      <!-- Orders -->
      <div class="col-md-4">
        <a
          href="{{ url_for('local_manager.view_orders') }}"
          class="text-decoration-none"
        >
          <div class="card widget-card border-light shadow-sm">
            <div
              class="card-header bg-transparent p-4 border-light-subtle text-center"
            >
              <i class="fas fa-shopping-cart fa-2x"></i>
              <h5 class="card-title widget-card-title m-0">ORDERS</h5>
            </div>
          </div>
        </a>
      </div>

      <!-- Rentals -->
      <div class="col-md-4">
        <a
          href="{{ url_for('local_manager.view_rentals') }}"
          class="text-decoration-none"
        >
          <div class="card widget-card border-light shadow-sm">
            <div
              class="card-header bg-transparent p-4 border-light-subtle text-center"
            >
              <i class="fas fa fa-truck fa-2x"></i>
              <h5 class="card-title widget-card-title m-0">RENTALS</h5>
            </div>
          </div>
        </a>
      </div>

      <!-- Inventory -->
      <div class="col-md-4">
        <a
          href="{{ url_for('local_manager.view_inventory') }}"
          class="text-decoration-none"
        >
          <div class="card widget-card border-light shadow-sm">
            <div
              class="card-header bg-transparent p-4 border-light-subtle text-center"
            >
              <i class="fas fa fa-cube fa-2x"></i>
              <h5 class="card-title widget-card-title m-0">INVENTORY</h5>
            </div>
          </div>
        </a>
      </div>

      <!-- Payments -->
      <div class="col-md-4">
        <a
          href="{{ url_for('local_manager.view_payments') }}"
          class="text-decoration-none"
        >
          <div class="card widget-card border-light shadow-sm">
            <div
              class="card-header bg-transparent p-4 border-light-subtle text-center"
            >
              <i class="fas fa fa-dollar-sign fa-2x"></i>
              <h5 class="card-title widget-card-title m-0">PAYMENTS</h5>
            </div>
          </div>
        </a>
      </div>

      <!-- Promotions -->
      <div class="col-md-4">
        <a
          href="{{ url_for('local_manager.view_promotions') }}"
          class="text-decoration-none"
        >
          <div class="card widget-card border-light shadow-sm">
            <div
              class="card-header bg-transparent p-4 border-light-subtle text-center"
            >
              <i class="fas fa fa-bullhorn fa-2x"></i>
              <h5 class="card-title widget-card-title m-0">PROMOTIONS</h5>
            </div>
          </div>
        </a>
      </div>

      <!-- Reports -->
      <div class="col-md-4">
        <a
          href="{{ url_for('local_manager.view_reports') }}"
          class="text-decoration-none"
        >
          <div class="card widget-card border-light shadow-sm">
            <div
              class="card-header bg-transparent p-4 border-light-subtle text-center"
            >
              <i class="fas fa fa-file fa-2x"></i>
              <h5 class="card-title widget-card-title m-0">REPORTS</h5>
            </div>
          </div>
        </a>
      </div>

      <!-- Staff -->
      <div class="col-md-4">
        <a
          href="{{ url_for('local_manager.view_staff') }}"
          class="text-decoration-none"
        >
          <div class="card widget-card border-light shadow-sm">
            <div
              class="card-header bg-transparent p-4 border-light-subtle text-center"
            >
              <i class="fas fa fa-users fa-2x"></i>
              <h5 class="card-title widget-card-title m-0">STAFF</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
