.nav a {
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.services-icon {
        font-size: 40px; /* Adjust the size as needed */
      }

.nav {
        background: linear-gradient(to right, #4a8b32, #f3f577); /* Adjust the colors based on the exact green shades */
        color: rgb(19, 16, 16);
        padding: 10px 20px;
        text-align: center;
      }

.custom-btn {
        background-color: #4a8b32;
        border-color: #4a8b32;
      }

:root {
    --primary-color: #248c00; /* Green color as primary */
    --secondary-color: #f3f577; /* Light yellow color as secondary */
}

h2 {
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: darken(var(--primary-color), 10%);
    border-color: darken(var(--primary-color), 10%);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-secondary:hover {
    background-color: darken(var(--secondary-color), 10%);
    border-color: darken(var(--secondary-color), 10%);
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(74, 139, 50, 0.25); /* rgba equivalent of primary color */
}

.btn-secondary {
    background-color: #f3f577;
}