{% extends "base.html" %} {% block title %}Customer Dashboard{% endblock %} {%
  block content %}
  <div class="container mt-4">
      <table class="table">
          <thead>
          <tr>
              <th>name</th>
              <th>Image</th>
              <th>start_time</th>
              <th>end_time</th>
              <th>days</th>
              <th>price</th>
              <th>operate</th>
          </tr>
          </thead>
          <tbody>
          {% for item in items %}
          <tr>
              <td>{{ item.name }}</td>
              <td><img alt="{{ item.name }}"  style="width: 50px; height: 50px; border-radius: 8px" src="/static/{{ item.Image }}"></td>
              <td>{{ item.start_time }}</td>
              <td>{{ item.end_time }}</td>
              <td>{{ item.quantity }}</td>
              <td dollar>{{ item.price }}</td>
              <td>
                  <button {{ '' if status == 'Pending'or status == 'Ongoing' else 'disabled' }} onclick="continuation({{ item.equipment_id }}, '{{ item.end_time }}', {{ item.store_id }}, '{{ item.store_name }}', '{{ item.address }}')" class="btn btn-primary">Lease Extension</button>
              </td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
  </div>
  
  <script>
  const continuation = (continuation, end_time, store_id, store_name, store_address) => {
      localStorage.removeItem('continuation');
      localStorage.setItem('continuation', JSON.stringify([continuation]));
      localStorage.removeItem('start_time');
      localStorage.setItem('start_time', end_time);
      localStorage.removeItem('store_id')
      localStorage.setItem('store_id', store_id);
      localStorage.removeItem('store_name')
      localStorage.setItem('store_name', store_name);
      localStorage.removeItem('store_address')
      localStorage.setItem('store_address', store_address);
      window.location.href = '/customer/cart'
  }
  </script>
  {% endblock %}
  