{% extends "base.html" %} {% block title %}Customer Dashboard{% endblock %} {%
block content %} {% if session.get('loggedin') %}
<link
  href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css"
  rel="stylesheet"
/>
<style>
  .custom-welcome p {
    margin-bottom: 5px;
    font-size: 22px;
    color: #144603;
    font-weight: normal;
    font-family: "Arial", sans-serif;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px; /* Ensure height is not cutting off content */
    margin: 15px auto; /* Increased margin and centered */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added subtle shadow for better visibility */
    border: 1px solid #ccc; /* Ensure visibility against all backgrounds */
  }
  .card-img-top {
    width: 100%;
    height: 250px; /* Increased height for better visibility */
    object-fit: cover;
  }
  .card-body {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: "Arial", sans-serif;
    font-weight: bold;
  }

  .card-title .product-cost {
    font-weight: bold;
    flex-shrink: 0;
  }
  .card-text {
    font-family: "Arial", sans-serif;
    font-size: 28px;
    font-weight: bold;
  }
  .btn-primary.add-to-cart {
    background-color: orangered; /* Green */
    border-color: white;
  }

  .btn-primary.add-to-cart:hover {
    background-color: #e29e5a;
    border-color: #434844;
  }

  .btn-info.view-details {
    background-color: rgb(24, 119, 61); /* Green */
    border-color: white;
    color: white;
  }
  .btn-info.view-details:hover {
    background-color: #75c779; /* Darker green on hover */
    border-color: #b4bbb5;
  }
</style>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<!-- Reminders section -->
<div id="liveAlertPlaceholder" class="mt-3">
  <div id="reminder-list" class="list-group">
      <!-- Reminders will be loaded here -->
  </div>
</div>

<div class="welcome" style="margin: 10px">
  <p>Welcome back, {{ session.get('username') }}!</p>
  <p>Please select a store to start browsing the available equipment!</p>
</div>

<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="storeDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Select Store
        </button>
        <ul class="dropdown-menu" aria-labelledby="storeDropdown">
          {% for store in stores %}
          <li>
            <a
              class="dropdown-item"
              href="#"
              data-id="{{ store.store_id }}"
              data-address="{{ store.address }}"
              data-store="{{ store.store_name }}"
              >{{ store.store_name }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <form class="d-flex">
        <input
          id="searchInput"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button id="searchButton" class="btn btn-outline-success" type="button">
          Search
        </button>
      </form>
    </div>
  </div>
  <div class="row" id="productList">
    <!-- Products will be loaded here dynamically -->
  </div>
</div>

<!-- Modal for product details -->
<div
  class="modal fade"
  id="productModal"
  tabindex="-1"
  aria-labelledby="productModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">Product Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Product details will be loaded here dynamically -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Message Center</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h2>Message History</h2>
        <!-- Area where messages are displayed -->
        <div id="messageHistory" style="max-height: 300px; overflow-y: auto">
          <!-- Messages will be dynamically loaded here -->
        </div>

        <h2>Send New Message</h2>
        <form id="messageForm">
          <div class="mb-3">
            <textarea
              class="form-control mb-2"
              id="message-text"
              name="content"
              placeholder="Type your message here"
            ></textarea>
            <button
              type="button"
              class="btn btn-primary"
              onclick="sendMessage()"
            >
              Send Message
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  async function loadProducts(store) {
    var productHtml = "";
    const res = await fetch(`/customer/store/${store}`).then((res) =>
      res.json()
    );
    res.data.forEach(function (product) {
      productHtml += `
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="/static/${product.Image}" class="card-img-top" alt="${
        product.name
      }">
              <div class="card-body">
                <h5 class="card-title">${product.name} • ${
        product.category
      }</h5><p class="card-text">$${product.cost}</p>
                
                
                <button class="btn btn-primary add-to-cart" data-product='${JSON.stringify(
                  product
                )}'>Add to Cart</button>
                <button class="btn btn-info view-details" data-product='${JSON.stringify(
                  product
                )}'>View Details</button>
              </div>
            </div>
          </div>
        `;
    });
    $("#productList").html(productHtml);

    $(".view-details").on("click", function () {
      var product = $(this).data("product");
      $(".modal-body").html(`
          <img src="/static/${product.Image}" class="img-fluid mb-3" alt="${product.name}">
          <h5>${product.name}</h5><p>$${product.cost}</p>
          <p>${product.description}</p>
          
        `);
      $("#productModal").modal("show");
    });

    $(".add-to-cart").on("click", async function () {
      var product = $(this).data("product");
      if (
        localStorage.getItem("cart") &&
        localStorage.getItem("cart") !== "[]"
      ) {
        const cart = JSON.parse(localStorage.getItem("cart"));
        if (cart.includes(product.equipment_id)) {
          alert("Equipment had already been added to your cart!");
          return;
        }

        const formData = new FormData();
        formData.append("id", product.equipment_id);
        formData.append("previous_id", cart[cart.length - 1]);
        const res = await fetch("/customer/is_available", {
          method: "POST",
          body: formData,
        }).then((res) => res.json());

        if (res.data) {
          cart.push(product.equipment_id);
          localStorage.setItem("cart", JSON.stringify(cart));
          alert("Equipment has been added to your cart!");
        } else {
          alert("Please empty your current cart before adding equipment from a different store!");
        }
      } else {
        localStorage.setItem("cart", JSON.stringify([product.equipment_id]));
        alert("Equipment has been added to your cart!");
      }
    });
  }

  $(document).ready(function () {
    $(".dropdown-item").on("click", function () {
      var store = $(this).data("store");
      var store_id = $(this).data("id");
      var store_address = $(this).data("address");
      localStorage.setItem("store_id", store_id);
      localStorage.setItem("store_name", store);
      localStorage.setItem("store_address", store_address);
      loadProducts(store);
    });
  });

  const searchInput = document.getElementById("searchInput");
  const searchButton = document.getElementById("searchButton");
  searchButton.addEventListener("click", async () => {
    const res = await fetch(`/customer/search?query=${searchInput.value}`).then(
      (res) => res.json()
    );

    var productHtml = "";
    res.data.forEach(function (product) {
      productHtml += `
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="/static/${product.Image}" class="card-img-top" alt="${
        product.name
      }">
              <div class="card-body">
                <h5 class="card-title">${product.name}</h5>
                <p class="card-text">${product.description}</p>
                <p class="card-text">$${product.cost}</p>
                <button class="btn btn-primary add-to-cart" data-product='${JSON.stringify(
                  product
                )}'>Add to Cart</button>
                <button class="btn btn-info view-details" data-product='${JSON.stringify(
                  product
                )}'>View Details</button>
              </div>
            </div>
          </div>
        `;
    });
    $("#productList").html(productHtml);

    $(".view-details").on("click", function () {
      var product = $(this).data("product");
      $(".modal-body").html(`
          <img src="/static/${product.Image}" class="img-fluid mb-3" alt="${product.name}">
          <h5>${product.name}</h5>
          <p>${product.description}</p>
          <p>${product.price}</p>
        `);
      $("#productModal").modal("show");
    });

    $(".add-to-cart").on("click", async function () {
      var product = $(this).data("product");
      if (
        localStorage.getItem("cart") &&
        localStorage.getItem("cart") !== "[]"
      ) {
        const cart = JSON.parse(localStorage.getItem("cart"));
        if (cart.includes(product.equipment_id)) {
          alert("Equipment had been added to your cart!");
          return;
        }

        const formData = new FormData();
        formData.append("id", product.equipment_id);
        formData.append("previous_id", cart[cart.length - 1]);
        const res = await fetch("/customer/is_available", {
          method: "POST",
          body: formData,
        }).then((res) => res.json());

        if (res.data) {
          cart.push(product.equipment_id);
          localStorage.setItem("cart", JSON.stringify(cart));
          alert("Product added to cart!");
        } else {
          alert("Please empty your cart before adding equipment from a different store!");
        }
      } else {
        localStorage.setItem("cart", JSON.stringify([product.equipment_id]));
        alert("Equipment has been added to your cart!");
      }
    });
  });

  // Function to handle sending messages
  function loadMessages() {
    fetch("/messages", { method: "GET" })
      .then((response) => response.json())
      .then((data) => {
        const messageHistory = document.getElementById("messageHistory");
        const messagesHtml = data
          .map(
            (msg) => `
          <div><b>${msg.timestamp}</b> - <b>${msg.sender_id}</b>: ${msg.content}</div>
        `
          )
          .join("");
        messageHistory.innerHTML = messagesHtml;
      })
      .catch((error) => console.error("Error loading messages:", error));
  }

  function sendMessage() {
    const messageContent = document.getElementById("message-text");
    const formData = new FormData();
    formData.append("content", messageContent.value);

    fetch("/messages", {
      method: "POST",
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Success:", data);
        loadMessages(); // Reload messages to include the new one
        messageContent.value = ""; // Clear the textarea after sending
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }

  const exampleModal = document.getElementById("exampleModal");
  exampleModal.addEventListener("show.bs.modal", (event) => {
    loadMessages(); // Load messages every time the modal is opened
  });

  document.addEventListener('DOMContentLoaded', function() {
    fetch('{{ url_for('customer.receive_reminders') }}')
        .then(response => response.json())
        .then(reminders => {
            const reminderList = document.getElementById('reminder-list');
            reminders.forEach(reminder => {
                const reminderItem = document.createElement('div');
                reminderItem.classList.add('alert', 'alert-warning', 'alert-dismissible', 'fade', 'show');
                reminderItem.setAttribute('role', 'alert');
                reminderItem.innerHTML = `
                    <span>${reminder.content}</span>
                    <small>${new Date(reminder.created_at).toLocaleString()}</small>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                `;
                reminderList.appendChild(reminderItem);
            });
        })
        .catch(error => console.error('Error fetching reminders:', error));
});  
</script>
{% endif %}
{% endblock %}
