{% extends "base.html" %} {% block title %}Customer Dashboard{% endblock %} {%
block content %} {% if session.get('loggedin') %}
<style>
  .custom-welcome p {
    margin-bottom: 5px;
    font-size: 18px;
    color: #144603;
    font-weight: normal;
    font-family: "Arial", sans-serif;
  }
</style>
<div class="custom-welcome">
  <p>Welcome back, farmer007!</p>
  <p>Please select a store to start browsing available machinery</p>
</div>

{% endif %}
<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="storeDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Select Store
        </button>
        <ul class="dropdown-menu" aria-labelledby="storeDropdown">
          {% for store in stores %}
          <li>
            <a
              class="dropdown-item"
              href="#"
              data-store="{{ store.store_name }}"
              >{{ store.store_name }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <form class="d-flex">
        <input
          id="searchInput"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button id="searchButton" class="btn btn-outline-success" type="button">
          Search
        </button>
      </form>
    </div>
  </div>
  <div class="row" id="productList">
    <!-- Products will be loaded here dynamically -->
  </div>
</div>

<!-- Modal for product details -->
<div
  class="modal fade"
  id="productModal"
  tabindex="-1"
  aria-labelledby="productModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">Product Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Product details will be loaded here dynamically -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  async function loadProducts(store) {
    var productHtml = "";
    const res = await fetch(`/customer/store/${store}`).then((res) =>
      res.json()
    );
    res.data.forEach(function (product) {
      productHtml += `
                <div class="col-md-4 mb-4">
                  <div class="card">
                    <img src="/static/${
                      product.Image
                    }" class="card-img-top" alt="${product.name}">
                    <div class="card-body">
                      <h5 class="card-title">${product.name}</h5>
                      <p class="card-text">${product.description}</p>
                      <p class="card-text">${product.price}</p>
                      <button class="btn btn-primary add-to-cart" data-product='${JSON.stringify(
                        product
                      )}'>Add to Cart</button>
                      <button class="btn btn-info view-details" data-product='${JSON.stringify(
                        product
                      )}'>View Details</button>
                    </div>
                  </div>
                </div>
              `;
    });
    $("#productList").html(productHtml);

    $(".view-details").on("click", function () {
      var product = $(this).data("product");
      $(".modal-body").html(`
                <img src="/static/${product.Image}" class="img-fluid mb-3" alt="${product.name}">
                <h5>${product.name}</h5>
                <p>${product.description}</p>
                <p>${product.price}</p>
              `);
      $("#productModal").modal("show");
    });

    $(".add-to-cart").on("click", function () {
      var product = $(this).data("product");
      if (localStorage.getItem("cart")) {
        const cart = JSON.parse(localStorage.getItem("cart"));
        if (cart.includes(product.equipment_id)) {
          alert("Product already in cart!");
          return;
        }

        cart.push(product.equipment_id);
        localStorage.setItem("cart", JSON.stringify(cart));
      } else {
        localStorage.setItem("cart", JSON.stringify([product.equipment_id]));
      }

      alert("Product added to cart!");
    });
  }

  $(document).ready(function () {
    $(".dropdown-item").on("click", function () {
      var store = $(this).data("store");
      loadProducts(store);
    });
  });
</script>
{% endblock %}
