{% extends "base.html" %} {% block title %}Customer Dashboard{% endblock %} {%
    block content %}
    <div class="container mt-4">
        <div>
            <button type="button" class="btn btn-primary" onclick="location.href = '/customer/order_list'">Reset</button>
            <button type="button" class="btn btn-primary" onclick="location.href = '/customer/order_list?status=Pending'">Pending</button>
            <button type="button" class="btn btn-primary" onclick="location.href = '/customer/order_list?status=Ongoing'">Ongoing</button>
            <button type="button" class="btn btn-primary" onclick="location.href = '/customer/order_list?status=Completed'">Completed</button>
            <button type="button" class="btn btn-primary" onclick="location.href = '/customer/order_list?status=Canceled'">Canceled</button>
            
        </div>
        <table class="table" style="margin-top: 10px;">
            <thead>
            <tr>
                <th>Order Id</th>
                <th>Store Name</th>
                <th>Total Cost</th>
                <th>Tax</th>
                <th>Discount</th>
                <th>Final Price</th>
                <th>Status</th>
                <th>Creation Date</th>
                <th>View Order Details</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.store_name }}</td>
                <td dollar>{{ order.total_cost }}</td>
                <td percent>{{ order.tax * 100 }}</td>
                <td percent>{{ order.discount * 100 }}</td>
                <td dollar>{{ order.final_price }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.creation_date }}</td>
                <td>
                    <button {{ '' if order.status == 'Pending' else 'disabled' }} onclick="cancelOrder({{ order.order_id }})" class="btn btn-primary">Cancel Order</button>
                    <button onclick="location.href = '/customer/order_detail/{{ order.order_id }}'" class="btn btn-primary">Order Details</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
    <script>
    const cancelOrder = async (orderId) => {
        if (confirm('Are you sure you want to cancel the order?')) {
            const res = await fetch(`/customer/order_detail/cancel/${orderId}`)
                .then(res => res.json())
            if (res.code === 200) {
                alert('Your order has been canceled!')
                location.reload()
            } else {
                alert('Order failed to cancel! Please try again!')
            }
        }
    }
    </script>
    {% endblock %}
    
    