{% extends "base.html" %} {% block title %}Admin Dashboard{% endblock %} {%
block content %}
<div class="custom-welcome">Welcome back, {{ session.get('username') }}!</div>

<div class="container my-5 py-4">
  <!-- Adjusted for more vertical space -->
  <h1 class="h4 text-center mb-4">Admin Dashboard</h1>
  <!-- Grid setup for icons -->
  <div class="row justify-content-center">
    <div class="col-md-4">
      <a
        href="{{ url_for('admin.admin_profile') }}"
        class="text-decoration-none"
      >
        <div class="card widget-card border-light shadow">
          <div class="card-header bg-transparent text-center">
            <i class="fas fa-id-card fa-2x"></i>
            <h5 class="card-title m-0">PROFILE MANAGEMENT</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('admin.view_all') }}" class="text-decoration-none">
        <div class="card widget-card border-light shadow">
          <div class="card-header bg-transparent text-center">
            <i class="fas fa-user fa-2x"></i>
            <h5 class="card-title m-0">STAFF</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('admin.view_news') }}" class="text-decoration-none">
        <div class="card widget-card border-light shadow">
          <div class="card-header bg-transparent text-center">
            <i class="fas fa-newspaper fa-2x"></i>
            <h5 class="card-title m-0">NEWS</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <a
        href="{{ url_for('admin.view_discount') }}"
        class="text-decoration-none"
      >
        <div class="card widget-card border-light shadow">
          <div class="card-header bg-transparent text-center">
            <i class="fas fa-percent fa-2x"></i>
            <h5 class="card-title m-0">DISCOUNT</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('chat.index') }}" class="text-decoration-none">
        <div class="card widget-card border-light shadow">
          <div class="card-header bg-transparent text-center">
            <i class="fas fa-comments fa-2x"></i>
            <h5 class="card-title m-0">CHAT</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a
        href="{{ url_for('admin.financial_report') }}"
        class="text-decoration-none"
      >
        <div class="card widget-card border-light shadow">
          <div class="card-header bg-transparent text-center">
            <i class="fas fa-chart-line fa-2x"></i>
            <h5 class="card-title m-0">FINANCIAL REPORT</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <a href="#" class="text-decoration-none">
        <div class="card widget-card border-light shadow">
          <div class="card-header bg-transparent text-center">
            <i class="fas fa-exclamation-triangle fa-2x"></i>
            <h5 class="card-title m-0">DAMAGE REPORT</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="text-decoration-none">
        <div class="card widget-card border-light shadow">
          <div class="card-header bg-transparent text-center">
            <i class="fas fa-box fa-2x"></i>
            <h5 the class="card-title m-0">ORDERS</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="text-decoration-none">
        <div class="card widget-card border-light shadow">
          <div class="card-header bg-transparent text-center">
            <i class="fas fa-warehouse fa-2x"></i>
            <h5 the class="card-title m-0">INVENTORY MANAGEMENT</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
