{% extends "base.html" %} {% block title %}Reports{% endblock %} {%
    block content %}
    <div class="container my-5">
      <h1 class="h2 mb-4">National Equipment Damage Report</h1>
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Equipment Repaired</th>
            <th scope="col">Equipment Rented</th>
            <th scope="col">Damage Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ report.repair }} times</td>
            <td>{{ report.rental }} times</td>
            <td>{{ report.percent }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="container mt-5">
      <h2>National Quarterly Sales Report for 2024</h2>
      <canvas id="salesChart" width="800" height="400"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const data = {{ data | tojson }};
        const ctx = document.getElementById("salesChart").getContext("2d");
        const salesChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: data.map(item => item.quarter),
            datasets: [{
              label: "Total Sales by Quarter in 2024",
              data: data.map(item => item.total_sales),
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)"
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)"
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            },
            plugins: {
              legend: {
                display: true
              }
            }
          }
        });
      });
    </script>
    {% endblock %}
    