<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,700"
    />

    <style>
      .nav {
        background: linear-gradient(
          to right,
          #4a8b32,
          #f3f577
        ) !important; /* Adjust the colors based on the exact green shades */
        color: rgb(19, 16, 16) !important;
        padding: 10px 20px !important;
        text-align: center !important;
      }

      .custom-btn {
        background-color: #4a8b32 !important;
        border-color: #4a8b32 !important;
      }

      .services-icon {
        font-size: 40px !important; /* Adjust the size as needed */
      }

      .navbar-brand {
        color: #0c0404 !important; /* Set brand text color */
        font-weight: bold !important;
        font-size: 24px !important;
      }

      .navbar-nav .nav-link {
        color: #0f0101 !important;
        padding: 8px 16px !important;
      }

      .navbar-nav .nav-link:hover {
        color: #4a8b32 !important;
        background-color: #f3f577 !important;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">AgriHire Solutions</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% if session.get('role') == 'customer' %}
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/order-list">Order List</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownProfile"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownProfile">
                <li>
                  <a class="dropdown-item" href="/view-profile">View Profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/edit-profile">Edit Profile</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chart">Chart</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMessages"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Messages
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMessages"
              >
                <li><a class="dropdown-item" href="/chat">Chat</a></li>
                <li><a class="dropdown-item" href="/news">News</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% elif session.get('role') == 'staff' %}
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% elif session.get('role') == 'local manager' %}
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% elif session.get('role') == 'national manager' %}
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% elif session.get('role') == 'admin' %}
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <section class="content">
      <header>{% block header %}{% endblock %}</header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %} {% block content %}{% endblock %}
    </section>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7V7tCw5J1Lr5eRwh5h5RkXIS6dkt1d8zq7E"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz4fnFO9gyb4K4K8ZRIpM3VoZZ6YQI2tZ5HpBbOFp5S4k9IBItA/jhQP31"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-QNB1FvKpRgiY2w4FpC0q2E04E0xXcf+Sb6QqI2Kz5WipqZm0O3J5p7ShAQD0X7Yr"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
