{% extends "base.html" %} {% block title %}Sidebar{% endblock %} {% block
content %}
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav
      id="sidebar"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar position-fixed vh-100"
      style="top: 150px"
    >
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          {% if session.get('role') == 'staff' %}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ url_for('staff.dashboard') }}"
            >
              <i class="fa fa-home"></i>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staff.view_profile') }}">
              <i class="fa fa-user"></i>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staff.view_orders') }}">
              <i class="fa fa-shopping-cart"></i>
              Rentals
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staff.view_rentals') }}">
              <i class="fa fa-truck"></i>
              Returns
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staff.view_payments') }}">
              <i class="fa fa-cog"></i>
              Payments
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staff.view_promotions') }}">
              <i class="fa fa-paperclip"></i>
              Promotions
            </a>
          </li>

          {% elif session.get('role') == 'local_manager' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('local_manager.dashboard') }}">
              <i class="fa fa-home"></i>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="{{ url_for('local_manager.view_profile') }}"
            >
              <i class="fa fa-user"></i>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-shopping-cart"></i>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-truck"></i>
              Returns
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-cog"></i>
              Inventory
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-paperclip"></i>
              Report
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <main
      class="col-md-9 ms-sm-auto col-lg-10 px-md-4"
      style="margin-left: 250px"
    >
      {% if session.get('loggedin') %}
      <div class="custom-welcome">
        Welcome back, {{ session.get('username') }}!
      </div>
      {% endif %} {% block main_content %}
      <!-- Add your main content here -->
      {% endblock %}
    </main>
  </div>
</div>
{% endblock %}
