{% extends "base.html" %} {% block title %}Sidebar{% endblock %} {% block
content %}
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div
      id="sidebar"
      class="col-md-2 col-lg-2 sidebar"
    >
      <div class="position-sticky pt-3">
        <ul class="sidebar flex-column">

          <!-- Staff -->
          {% if session.get('role') == 'staff' %}
          <li class="sidebar-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ url_for('staff.dashboard') }}"
            >
              <i class="fa fa-home"></i>
               Dashboard
            </a>
          </li>
          <li class="sidebar-item">
            <a class="nav-link" href="{{ url_for('staff.view_profile') }}">
              <i class="fa fa-user"></i>
               My Profile
            </a>
          </li>
          <li class="sidebar-item">
            <a class="nav-link" href="{{ url_for('staff.inventory_management') }}">
              <i class="fa fa-cube" aria-hidden="true"></i>
               Inventory Management
            </a>
          </li>
          <li class="sidebar-item">
            <a class="nav-link" href="{{ url_for('staff.view_orders') }}">
              <i class="fa fa-shopping-cart"></i>
               Orders
            </a>
          </li>
          <li class="sidebar-item">
            <a class="nav-link" href="{{ url_for('staff.daily_checklist') }}">
              <i class="fa fa-calendar-check"></i>
               Daily Checkout List
            </a>
          </li>
          <li class="sidebar-item">
            <a class="nav-link" href="{{ url_for('staff.view_rentals') }}">
              <i class="fa fa-truck"></i>
                Daily Return List
            </a>
          </li>

          <li class="sidebar-item">
            <a class="nav-link" href="{{ url_for('staff.view_payments') }}">
              <i class="fa fa-dollar-sign"></i>Payments
            </a>
          </li>
        </ul>
      </div>
    </div>


          <!-- Local Manager -->
          {% elif session.get('role') == 'local_manager' %}
          <li class="sidebar-item">
            <a class="nav-link" href="{{ url_for('local_manager.dashboard') }}">
              <i class="fa fa-home"></i>
                Dashboard
            </a>
          </li>
          <li class="sidebar-item">
            <a
              class="nav-link"
              href="{{ url_for('local_manager.view_profile') }}"
            >
              <i class="fa fa-user"></i>
               Profile
            </a>
          </li>
          <li class="sidebar-item">
            <a
              class="nav-link"
              href="{{ url_for('local_manager.daily_checklist') }}"
            >
              <i class="fa fa-calendar-check"></i>
               Checklists
            </a>
          </li>
          <li class="sidebar-item">
            <a
              class="nav-link"
              href="{{ url_for('local_manager.view_orders') }}"
            >
              <i class="fa fa-shopping-cart"></i>
               Orders
            </a>
          </li>
          <li class="sidebar-item">
            <a
              class="nav-link"
              href="{{ url_for('local_manager.view_rentals') }}"
            >
              <i class="fa fa-truck"></i>
               Rentals
            </a>
          </li>
          <li class="sidebar-item">
            <a
              class="nav-link"
              href="{{ url_for('local_manager.view_payments') }}"
            >
              <i class="fa fa-dollar-sign"></i>
                  Payments
            </a>
          </li>
          <li class="sidebar-item">
            <a
              class="nav-link"
              href="{{ url_for('local_manager.view_promotions') }}"
            >
              <i class="fa fa-bullhorn"></i>
               Promotions
            </a>
          </li>
          <li class="sidebar-item">
            <a class="nav-link" href="#">
              <i class="fa fa-file"></i>
               Reports
            </a>
          </li>
          <li class="sidebar-item">
            <a class="nav-link" href="#">
              <i class="fa fa-users"></i>
               Staff
            </a>
          </li>
         
        </ul>
      </div>
    </nav>



          <!-- Admin -->
          {% elif session.get('role') == 'admin' %}
          <li class="sidebar-item">
            <a class="nav-link" href="{{ url_for('admin.dashboard') }}">
              <i class="fa fa-home"></i>
              Dashboard
            </a>
          </li>
          <li class="sidebar-item">
            <a
              class="nav-link"
              href="{{ url_for('admin.admin_profile') }}"
            >
              <i class="fa fa-user"></i>
              Profile
            </a>
          </li>
          <li class="sidebar-item">
            <a
              class="nav-link"
              href="#"
            >
              <i class="fa fa-building"></i>
              Select Store
            </a>
          </li>
          <li class="sidebar-item">
            <a
              class="nav-link"
              href="#"
            >
              <i class="fa fa-users"></i>
              Staff
            </a>
          </li>
          <li class="sidebar-item">
            <a
              class="nav-link"
              href="{{ url_for('local_manager.dashboard') }}"
            >
              <i class="fa fa-tachometer-alt" aria-hidden="true"></i>
              Manager Dashboard
            </a>
          </li>
          
          {% endif %}
        </ul>
      </div>
    </nav>


    <!-- Main Content -->
    <main
      class="col-md-10 ms-sm-auto col-lg-10 px-md-4"
    >
       {% block main_content %}

      {% endblock %}
    </main>
  </div>
</div>

{% endblock %}
